<form {{on "submit" this.handleSubmit}}>
  <input
    type="text"
    class="border p-2 w-full mb-2"
    placeholder="Label note"
    value={{this.title}}
    {{on "input" this.updateTitle}}
  />
  <input
    type="text"
    class="border p-2 w-full mb-2"
    placeholder="Take a note..."
    value={{this.content}}
    {{on "input" this.updateContent}}
  />
  <button
    type="submit"
    class="bg-blue-500 text-white px-4 py-2 rounded"
  >Save</button>
</form>


    
