<div
  {{this.setupClickOutside}}
  class="transition-all duration-300 ease-in-out container px-5 pt-10 mx-auto"
>
  <form
    {{on "submit" this.handleSubmit}}
    {{on "click" this.handleFormClick}}
    class="flex flex-col text-center w-full transition-all duration-300 ease-in-out transform"
  >
    {{#if this.isExpanded}}
      <div class="mb-4 {{if this.isEmpty 'animate-[pulseGently_0.2s] '}}">
        <input
          type="text"
          class="block w-full p-2 text-gray-700 border border-gray-300 rounded-lg bg-gray-50 text-l font-bold hover:bg-gray-100 focus:outline-offset-0 focus:outline-2 focus:outline-gray-500 focus:shadow-lg"
          placeholder="Label note"
          value={{this.title}}
          {{on "input" this.updateTitle}}
        /></div>
    {{/if}}
    <div class="mb-4 {{if this.isEmpty 'animate-[pulseGently_0.2s]'}}">
      <textarea
        class="block w-full p-4 text-gray-700 border border-gray-300 rounded-lg bg-gray-50 hover:bg-gray-100 text-base focus:outline-offset-0 focus:outline-2 focus:outline-accent-500 resize-none overflow-hidden"
        placeholder="Take a note..."
        rows="1"
        value={{this.content}}
        {{this.setupTextarea}}
        {{on "input" this.updateContent}}
        {{on "focus" this.expandForm}}
      /></div>
    {{#if this.isExpanded}}

      <button
        type="submit"
        class="focus:outline-none text-white bg-accent-400 hover:bg-accent-500 focus:ring-4 focus:ring-accent-400 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 transition-all duration-300 transform hover:scale-105"
      >Save</button>
    {{/if}}
  </form>
</div>