{{#if this.isModalOpen}}
  <Modal @onClose={{this.closeModal}}>

    {{#if this.isEditing}}
      <form
        {{on "submit" this.saveNote}}
        class="flex flex-col text-center w-full animate-[fadeIn_0.5s_ease-out]"
      >
        <div class="mb-4">
          <input
            type="text"
            class="block w-full p-4 text-gray-700 border border-gray-300 rounded-lg bg-gray-50 hover:bg-gray-100 text-base focus:outline-offset-0 focus:outline-2 focus:outline-accent-500"
            placeholder="Title"
            value={{this.editedTitle}}
            {{on "input" this.updateEditedTitle}}
          /></div><div class="mb-4">
          <textarea
            class="block w-full p-6 text-gray-700 border border-gray-300 rounded-lg bg-gray-50 hover:bg-gray-100 text-base focus:outline-offset-0 focus:outline-2 focus:outline-accent-500"
            placeholder="Note"
            value={{this.editedContent}}
            {{on "input" this.updateEditedContent}}
          ></textarea></div>
        <button
          type="submit"
          class="focus:outline-none text-white bg-accent-400 hover:bg-accent-500 focus:ring-4 focus:ring-accent-400 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 transition-all duration-300 transform hover:scale-105"
        >Save</button>
        <button
          type="button"
          class="focus:outline-none text-white bg-primary-300 hover:bg-accent-500 focus:ring-4 focus:ring-accent-400 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 transition-all duration-300 transform hover:scale-105"
          {{on "click" this.cancelEdit}}
        >Cancel</button>
      </form>
    {{else}}
      <div class="">
        <h1 class="text-2xl font-bold">{{this.model.note.title}}</h1>
        <p class="mt-4">{{this.model.note.content}}</p>
        <div class="pt-10 flex flex-col">
          <button
            class="focus:outline-none text-white bg-accent-400 hover:bg-accent-500 focus:ring-4 focus:ring-accent-400 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 transition-all duration-300 transform hover:scale-105"
            type="button"
            {{on "click" this.startEdit}}
          >
            Edit
          </button>
          <button
            class="focus:outline-none text-white bg-primary-300 hover:bg-accent-500 focus:ring-4 focus:ring-accent-400 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 transition-all duration-300 transform hover:scale-105"
            type="button"
            {{on "click" this.deleteNote}}
          >
            Delete
          </button>
        </div>
      </div>
    {{/if}}
  </Modal>
{{/if}}